* {margin: 0; padding: 0;}
body {padding: 30px;}

#highlight {display: none;}

/* Estilos para el contenedor. */
#layer {
	font-family: monospace;
	/* font-size: 12px; */
	line-height: 20px;
	
	border: 1px solid #ccc;
	background: linear-gradient(white, white 19px, #ddd 19px, #ddd 20px);
	background-size: 20px 20px;
	
	padding: 20px 30px;
	
	white-space: pre-wrap; /*to wrap words*/
	word-wrap: break-word; /*IE 5.5+*/
	overflow: hidden;
}

/*colores*/
.sc {color: brown;}
.keyword {color: Blue; font-weight: bold;} /* Coloreado para las palabras recervadas. */
.string {color: Red;} /* Coloreado para los string o los textos entre comillas. */
.comment {color: green; background: lightyellow;} /* Coloreado para los comentarios. */

/* Eventos y palabras claves de love2d y lua. */
.keywordLove2dEvents{color: Magenta;}
.UsingcommentC{color: Magenta;}
.customFunctions{color: Brown;}
.numberColor{color: DarkGreen;}